.main article p img {
  max-height: 90px;
  float: right;
}

.main article {
  margin: 4rem auto;
  position: relative;
  width: 70%;
  border: 2px solid;
  padding: 1rem;
  min-height: 220px;

}
.main article > a {
  font-size: 1.7rem;
  display: block;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.clearfix{
  overflow:auto;
}
