.main article {
  min-width: 30rem;
  max-width: 55rem;
}

.post-heading{
  font-size: 1.8rem;
}

.main article {
  margin: 0.7rem auto;
  position: relative;
  width: 70%;
  padding: 1rem;
  min-height: 220px;
  border-top: 1px solid #e8eae9;
  border-bottom: 1px solid #e8eae9;
  font-size: 1rem;
}
.main article:hover {
  cursor: pointer;
  background-color: #fafafa;
  transition: 0.15s all;
  border-color: #ccc;
}
.main article:not(:hover) {
  transition: 0.15s all;
  border-color: #e8eae9;

}

.main article .post-heading{
  font-size: 1.5rem;
}