@import url("//cdn.web-fonts.ge/fonts/bpg-nostalgia/css/bpg-nostalgia.min.css");

body {
  font-family: "BPG Nostalgia", sans-serif;
  font-size: 1.1rem;
}

a {
  color: #0070f3;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.post-id {
  margin-top: 3rem;
  color: #ccc;
}

.with-image div p img {
  max-width: 7rem;
  max-height: 7rem;
  position: absolute;
  top: 4rem;
  right: 2rem;
}
.with-image div {
  width: 80%;
}
