/* @import url("//cdn.web-fonts.ge/fonts/bpg-nostalgia/css/bpg-nostalgia.min.css"); */
@font-face {
  font-family: "Georgian";
  src: url(/fonts/55-Roman.2df6a3f8.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Georgian";
  src: url(/fonts/75-Bold.99429b2d.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}

.container {
  width: 70%;
  margin: 0 auto;
}

body {
  font-family: "Georgian", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  color: #282828;
}

.btn {
  padding: 0.4rem 1.2rem;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}
.btn:active {
  opacity: 0.8;
  outline: none;
}
.btn:hover {
  opacity: 0.9;
}
.btn-yellow {
  background: #ffab23;
}
.btn-green {
  background: #339933;
  color: #fff;
}
.btn-red {
  background: #cc3333;
  color: #fff;
}
.btn-switch {
  background-color: #33bdef;
  color: #fff;
}

a {
  color: #0070f3;
  text-decoration: none;
}

img {
  max-width: 100%;
}
.selected-post-container{
  width: 60%;
  margin: 0.5rem auto;
}
.selected-post-container img {
  width: 100%;
  display: block;
  margin: 0.5rem auto;
}

.post-id {
  margin-top: 3rem;
  color: #ccc;
}

.with-image div p img {
  max-width: 15rem;
  max-height: 10rem;
  position: absolute;
  top: 4rem;
  right: 0.5rem;
  overflow: hidden;
}
.with-image div {
  width: 100%;
}
.with-image div p {
  width: 70%;
}

@media only screen and (max-width: 992px) {
  .with-image div p {
    width: 60%;
  }
  .with-image div p img {
    top: 3.5rem;
  }
}

@media only screen and (max-width: 880px) {
  .with-image div p img {
    position: static;
    max-width: 17rem;
    max-height: 18rem;
    display: block;
  }
  .with-image div p {
    width: 100%;
  }


  img {
    max-width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .post-heading{
    display: block;
    text-align: center;
  }
  p,.created_at{
    margin:0.5rem;
  }
  .login-form{
    padding: 1.5rem;
  }

  .dashboard-container button{
    display: block;
    width: 100%;
  }
  .selected-post-container{
    width: 95%;
    margin: auto;
  }

}