/* @import url("//cdn.web-fonts.ge/fonts/bpg-nostalgia/css/bpg-nostalgia.min.css"); */
@font-face {
  font-family: "Georgian";
  src: url(/fonts/55-Roman.2df6a3f8.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Georgian";
  src: url(/fonts/75-Bold.99429b2d.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Georgian", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  color: #282828;
}

.btn {
  padding: 0.4rem 1.2rem;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}
.btn:active {
  opacity: 0.8;
  outline: none;
}
.btn:hover {
  opacity: 0.9;
}
.btn-yellow{
  background:#ffab23;
}
.btn-green {
  background: #339933;
  color: #fff;
}
.btn-red {
  background: #cc3333;
  color: #fff;
}
.btn-switch{
  background-color: #33bdef;
  color: #fff;

}

a {
  color: #0070f3;
  text-decoration: none;
}

img {
  max-width: 100%;
}
.selected-post-container img {
  width: 25rem;
  max-height: 25rem;

}

.post-id {
  margin-top: 3rem;
  color: #ccc;
}

.with-image div p img {
  max-width: 15rem;
  max-height: 10rem;
  position: absolute;
  top: 3rem;
  right: 0.5rem;
  overflow: hidden;
}
.with-image div {
  width: 100%;
}
.with-image div p {
  width: 60%;
}

@media only screen and (max-width: 992px) {
  /* .with-image div p img {
    max-width: 9rem;
    max-height: 10rem;
  } */
  .with-image div p {
    width: 60%;
  }
  .with-image div p img {
    top: 3.5rem;
  }
}

@media only screen and (max-width: 880px) {
  .with-image div p img {
    position: static;
    max-width: 22rem;
    max-height: 20rem;
  }
  .with-image div p{
    width: 100%;
  }

  img {
    max-width: 100%;
  }
}
